<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accessibility</title>
</head>
<body>

{% extends 'beatzbychee/base.html' %}

{% block content %}

      <style type="text/css">
        body {
            background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
        }

        .container {
            max-width: 960px;
        }
        .pricing-header {
            max-width: 700px;
}
      </style>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal"></h1>
      <p class="fs-5 text-muted">

          Beatz By Che Web Accessibility Statement

          <br>
          <br>
          Our Policy
          <br>
          <br>
          At BeatzByChe.com, we’re committed to accessibility. It is our policy to ensure that everyone, including
          persons with disabilities, has full and equal access to our digital offerings.
          <br>
          <br>
          Feedback.
          <br>
          <br>
          We welcome your feedback on your experience with BeatzByChe.com. Send us a message with any questions or
          comments you have.
          <br>
          <br>
          Accessibility Standards.
          <br>
          <br>
          BeatzByChe.com strives to conform to the following accessibility standards: Web Content Accessibility
          Guidelines (WCAG) 2.1 AA, PDF/Universal Accessibility (PDF/UA).
          <br>
          <br>
          Compatibility
          <br>
          <br>
          BeatzByChe.com is compatible with most major Internet browsers including Chrome, FireFox, and Safari.
          BeatzByChe.com may not perform optimally on Internet Explorer and older browser versions.
          <br>
          <br>
          Accessibility Coordinator
          <br>
          <br>
          BeatzByChe.com has appointed a Web Accessibility Coordinator to help meet the objectives in this policy.
          <br>
          <br>
          Distribution
          <br>
          <br>
          BeatzByChe.com distributes this policy to all personnel who work with web content including writers, editors,
          designers, and developers.
          <br>
          <br>
          Consultant
          <br>
          <br>
          BeatzByChe.com has retained an independent expert consultant to conduct annual audits and testing on
          KrisRivenburgh.com.
          <br>
          <br>
          Testing
          <br>
          <br>
          BeatzByChe.com engages in regular automated testing and (annual / bi-annual) manual audits and user testing
          to assess and improve accessibility.
          <br>
          <br>
          Training
          <br>
          <br>
          BeatzByChe.com web content personnel undergo mandatory bi-annual accessibility training.

      </p>
    </div>
{% endblock content %}

</body>
</html>