<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Music</title>


</head>
<body>
{% extends 'beatzbychee/base.html' %}
{% load static %}
<link rel="icon" href="{% static 'media/headphones.png' %}">
{% block content %}




    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal"></h1>
      <p class="fs-5 text-muted">There is no right or wrong.  Only a song</p>
    </div>
    <br>
     <br>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        
        
     <audio controls controlslist = "nodownload noremoteplayback">

              <source src="{% static 'media/sos!!!!!!!!!.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element.

    </audio>


    <br>
    <p><a href="#">""Money" Type Beat" </a></p>
    <br>

    <audio controls controlslist = "nodownload noremoteplayback">

              <source src="{% static 'media/ytb trench.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element.

    </audio>


    <br>
    <p><a href="#">"Lil Baby X Lil Durk Type Beat" </a></p>
    <br>
        
    <audio controls controlslist = "nodownload noremoteplayback">

              <source src="{% static 'media/Apology.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element.

    </audio>


    <br>
    <p><a href="#">"Apology" - Sad Beat</a></p>
    <br>


    <audio controls>

              <source src="{% static 'media/Killing time.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element.

    </audio>
    <br>
    <p><a href="#">Killing Time</a></p>
    <br>
     <audio controls>

              <source src="{% static 'media/Misunderstood.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element.

    </audio>


    <br>
    <p><a href="#">"Misunderstood" - Emotional Sad Beat</a></p>
    <br>


    <audio controls>

              <source src="{% static 'media/aa.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element.

    </audio>
    <br>
    <p><a href="#">Freestyle</a></p>
    <br>

     <audio controls>

              <source src="{% static 'media/pwmi.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element.

    </audio>
    <br>
    <p><a href="#">Play with my intelligence</a></p>
    <br>


     <audio controls>

              <source src="{% static 'media/Real33.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element.

    </audio>
    <br>
    <p><a href="#">"Real" - Sad Type Beat</a></p>
    <br>
    </div>





{% endblock content %}
</body>
</html>
